div {
    margin: 10px;
}

body {
    background: #e1d0c6;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* REPLACING HEADER PHOTO SO WILL MOST LIKELY NEED TO RESIZE*/
#header-photo {
    height: 600px;
    width: 100%;
    opacity: 0.5;
    margin: 10px;
} 

#liz-profile-photo {
    height: 500px;
    margin: 20px;
}

#liz-christian-photo {
    height: 600px;
}


/* 
THE FOLLOWING ARE TO HELP VISUALIZE THE CONTAINERS/ROWS/COLUMNS
.container {
    background: gray;
}

.col {
    border: blue dotted;
}

.row {
    border: red solid;
} */
